@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
}

:root {
   --cor-de-fundo: rgb(81, 81, 80);
   --fonte: 'DynaPuff', cursive;
}
body {
   background-color: black;
   margin-bottom: 100px;
   text-align: center;
   font-family: var(--fonte);
   font-size: 15px;
}
.caixa_fundo{
   background: radial-gradient(white , rgb(141, 211, 234) 55%,black 72%);
   background-repeat: no-repeat;
}
.titulo__pagina {
   text-align: center;
   font-family: var(--fonte);
   color: black;
   padding-top: 2em;
   padding-bottom: 1em ;
}
.entrada_chute{
   padding-bottom: 2em;
}
p {
   min-height: 130px;
}
.container__entrada {
   display: block;
   margin: 1em auto;
   width: 50px;
   background-color: lightslategrey;
   color: black;
   border-radius: 10px;
   font-size: 20px;
   padding-left: 20px;
   
}
.container__botao {
   display: block;
   margin: 1em auto;
   border: 1px solid;
   border-radius: 10px;
   padding: 5px;
   font-size: 20px;
   font-family: var(--fonte);
   width: 100px;
   background-color: black;
   color: lightgray;
}