@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
}

:root {
   --cor-de-fundo: rgb(81, 80, 80);
   --fonte: 'DynaPuff', cursive;
}

body {
   border: 10em dashed black;
   background-color: var(--cor-de-fundo);
   text-align: center;
   font-family: var(--fonte);
   font-size: 15px;
}

.titulo__pagina {
   text-align: center;
   font-family: var(--fonte);
   color: black;
   padding: 2em;
}
.container__entrada {
   display: block;
   margin: 1em auto;
   width: 30px;
   background-color: lightslategrey;
   color: black;
   border-radius: 10px;
   padding: 10px 35px;
   font-size: 15px;
}
.container__botao {
   display: block;
   margin: 1em auto;
   border: 1px solid;
   border-radius: 10px;
   padding: 5px;
   font-size: 20px;
   font-family: var(--fonte);
   width: 150px;
   background-color: black;
   color: lightgray;
}