@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
}

:root {
   --cor-de-fundo: rgb(81, 81, 80);
   --fonte: 'DynaPuff', cursive;
}
body {
   border: 10px dashed black;
   border-radius: 200px;
   background: radial-gradient(white , rgb(141, 211, 234) 65%,black 80%);
   background-repeat: no-repeat;
   text-align: center;
   font-family: var(--fonte);
   font-size: 15px;
}
.caixa_borda{
   border: 6px dashed black;
   border-radius: 200px;
}
.titulo__pagina {
   text-align: center;
   font-family: var(--fonte);
   color: black;
   padding: 2em;
}
.entrada_chute{
   margin: 0 0 3em 0;
}
p {
   min-height: 245px;
}
.container__entrada {
   display: block;
   margin: 1em auto;
   width: 50px;
   background-color: lightslategrey;
   color: black;
   border-radius: 10px;
   font-size: 20px;
   padding-left: 20px;
   
}
.container__botao {
   display: block;
   margin: 1em auto;
   border: 1px solid;
   border-radius: 10px;
   padding: 5px;
   font-size: 20px;
   font-family: var(--fonte);
   width: 100px;
   background-color: black;
   color: lightgray;
}